.ui-icon-custom-arrow-down::after {
  background-image: url("/img/down-arrow.png");
  background-size: 18px 18px;
}

.ui-icon-custom-add::after {
  background-image: url("/img/add.png");
  background-size: 80% 80%;
}

.ui-icon-custom-add-large::after {
  background-image: url("/img/add-large.png");
  background-size: 100px;
}

/* previous icon */
.logout-button::after {
  position: absolute;
  top: 0;
  left: 0;
  background-size: 40px 40px;
  background-position: center;
  width: 100%;
  height: 100%;
  background-image: url(/img/logout.png);
  z-index: 100;
}
.ui-icon-custom-previous::after {
  background-image: url("/img/previous.png");
  background-size: 18px 18px;
}

.ui-icon-custom-previous-large::after {
  background-image: url("/img/previous-large.png");
  background-size: 100px;
}
/* -- */

/* next icon */
.ui-icon-custom-next::after {
  background-image: url("/img/next.png");
  background-size: 18px 18px;
}

.ui-icon-custom-next-large::after {
  background-image: url("/img/next-large.png");
  background-size: 100px;
}
/* -- */

.ui-icon-custom-cancel::after {
  background-image: url("/img/cancel.png");
  background-size: 18px 18px;
}

.ui-icon-custom-edit::after {
  background-image: url("/img/edit.png");
  background-size: 18px 18px;
}

.ui-icon-custom-logout::after {
  background-image: url("/img/logout.png");
  background-size: 50%;
  background-position: center;
  margin: 0;
}

.ui-icon-custom-logout-large::after {
  background-image: url("/img/logout-large.png");
  background-size: 80% 80%;
}
