.welcome-section {
  display: flex;
  flex-direction: column;
  gap: 2;
  padding: 10px;
}
.welcome-text {
  font-size: 2rem;
  display: block;
  text-align: left;
  margin: 0;
}

.welcome-section .description {
  margin: 0;
}
