:root {
  --primary: #134cde;
}

* {
  -webkit-tap-highlight-color: rgba(
    0,
    0,
    0,
    0
  ); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
  -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
  -webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
  background-color: #e4e4e4;
  background-image: linear-gradient(to bottom, #a7a7a7 0%, #e4e4e4 51%);
  font-family: system-ui, -apple-system, -apple-system-font, "Segoe UI",
    "Roboto", sans-serif;
  font-size: 12px;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  /* Padding to avoid the "unsafe" areas behind notches in the screen */
  padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px)
    env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px);
  width: 100%;
}

[data-role="page"] {
  background: rgb(244, 243, 254);
  background: linear-gradient(
    180deg,
    rgba(244, 243, 254, 1) 0%,
    rgb(200, 200, 255) 35%,
    rgb(110, 167, 253) 100%
  );
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

[data-role="main"] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.page-title {
  font-size: 4rem;
  padding: 10;
  margin: 0;
  text-align: left;
  width: 100%;
}

.primary-btn {
  background-color: #134cde !important;
  color: white !important;
  border-radius: 10px !important;
  -webkit-box-shadow: 4px 4px 23px -11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 23px -11px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 4px 23px -11px rgba(0, 0, 0, 0.75);
  border: none;
  transition: background-color 1s;
  cursor: pointer;
}

.primary-btn:hover {
  background-color: #0f3fb8 !important;
}

.primary-btn:focus {
  background-color: #113796 !important;
}

.custom-form {
  max-width: 800px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  padding-top: 20px;
  box-sizing: border-box;
}

.custom-form input {
  box-sizing: border-box;
  padding: 20px;
  width: 100%;
  color: black;
  border-radius: 10px;
  background-color: white;
  border-radius: 10px !important;
  -webkit-box-shadow: 4px 4px 23px -11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 23px -11px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 4px 23px -11px rgba(0, 0, 0, 0.75);
  border: none;
  font-size: 1rem;
  text-align: center;
}

.custom-form .form-text-field {
  text-shadow: none !important;
  font-size: 1rem;
  padding: 10px;
}
.custom-form .form-text-field a {
  color: var(--primary);
  text-decoration: none;
}

.custom-footer {
  background-color: transparent;
  text-align: center;
  font-weight: 500;
  color: black;
  border: none;
  font-size: small;
  text-shadow: none !important;
}

.product-logo-container {
  margin-top: 50px;
  margin-bottom: 20px;
  max-width: 100px;
  max-height: 100px;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  background-color: white;
  -webkit-box-shadow: 4px 4px 23px -11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 23px -11px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 4px 23px -11px rgba(0, 0, 0, 0.75);
}

.verification-input-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.verification-input-group input {
  flex-basis: 70px;
}
.verification-input-group input:focus {
  box-shadow: none !important;
}

.description {
  font-size: 1rem;
}
