@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-VariableFont.ttf");
}

:root {
  --primary: #134cde;
}

* {
  font-family: "Inter", sans-serif !important;
  -webkit-tap-highlight-color: rgba(
    0,
    0,
    0,
    0
  ); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
  font-family: "Inter", sans-serif;
  -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
  -webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
  user-select: none;
  background-color: #e4e4e4;
  background-image: linear-gradient(to bottom, #a7a7a7 0%, #e4e4e4 51%);
  font-family: system-ui, -apple-system, -apple-system-font, "Segoe UI",
    "Roboto", sans-serif;
  font-size: 12px;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  /* Padding to avoid the "unsafe" areas behind notches in the screen */
  padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px)
    env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px);
  width: 100%;
}

[data-role="page"] {
  background: rgb(244, 243, 254);
  background: linear-gradient(
    180deg,
    rgb(255, 255, 255) 0%,
    rgb(214, 214, 250) 45%,
    rgb(163, 200, 255) 100%
  );
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

[data-role="main"] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.page-title {
  font-size: 3.5rem;
  padding: 10;
  margin: 0;
  text-align: left;
  width: 100%;
}

.primary-btn,
.cancel-btn {
  background-color: #134cde !important;
  color: white !important;
  border-radius: 10px !important;
  -webkit-box-shadow: 4px 4px 23px -11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 23px -11px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 4px 23px -11px rgba(0, 0, 0, 0.75);
  border: none;
  transition: background-color 1s;
  cursor: pointer;
  font-weight: normal;
  text-shadow: none;
}

.cancel-btn {
  background-color: #ec523e !important;
}

.primary-btn:hover {
  background-color: #0f3fb8 !important;
}

.primary-btn:focus {
  background-color: #113796 !important;
}

.link-btn {
  background-color: transparent !important;
  color: var(--primary) !important;
  border: none;
  box-sizing: border-box;
  transition: background-color 1s;
  cursor: pointer;
  font-weight: normal;
  box-shadow: none;
  font-size: 1.2rem;
  text-shadow: none;
  font-weight: bold;
}

.growth-button {
  width: 100% !important;
  color: #00b714 !important;
  background-color: rgb(255, 255, 255) !important;
  padding: 10px !important;
  border-radius: 10px !important;
}

.link-btn:hover {
  text-decoration: underline !important;
}

.link-btn:focus {
  color: #113796 Im !important;
  box-shadow: none !important;
}

.custom-form {
  max-width: 800px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  padding-top: 20px;
  box-sizing: border-box;
}

.custom-form input {
  box-sizing: border-box;
  padding: 20px;
  width: 100%;
  color: black;
  border-radius: 10px;
  background-color: white;
  border-radius: 10px !important;
  -webkit-box-shadow: 4px 4px 23px -11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 23px -11px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 4px 23px -11px rgba(0, 0, 0, 0.75);
  border: none;
  font-size: 1rem;
}

.custom-form .form-text-field {
  text-shadow: none !important;
  font-size: 1rem;
  padding: 10px;
}
.custom-form .form-text-field a {
  color: var(--primary);
  text-decoration: none;
}

.custom-footer {
  background-color: transparent;
  text-align: center;
  font-weight: 500;
  color: black;
  border: none;
  font-size: small;
  text-shadow: none !important;
}

.product-logo-container {
  margin-top: 50px;
  margin-bottom: 20px;
  max-width: 100px;
  max-height: 100px;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  background-color: white;
  -webkit-box-shadow: 4px 4px 23px -11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 23px -11px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 4px 23px -11px rgba(0, 0, 0, 0.75);
  background-image: url("/img/logo.svg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.verification-input-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.verification-input-group input {
  flex-basis: 70px;
  text-align: center;
}
.verification-input-group input:focus {
  box-shadow: none !important;
}

.description {
  font-size: 1rem;
  display: block;
}

.date-picker-field {
  background-color: transparent;
  border: none;
  padding: 10px;
  width: 100%;
  height: 50px;
  text-align: center;
  color: black;
  box-sizing: border-box;
  outline: none;
}

.input-group {
  display: flex;
  gap: 5px;
  align-items: center;
  flex-wrap: wrap;
}

.input-group .custom-input,
.input-group select {
  background-color: transparent;
  padding: 10px;
  font-weight: normal;
  border-radius: 10px;
  display: flex;
  box-sizing: border-box;
  border: 0;
  color: rgb(32, 32, 32);
}

.error {
  color: red;
  font-size: small !important   ;
  padding: 5px;
}

.done {
  color: var(--done);
}
.not-done {
  color: var(--wont-do);
}
.no-progress {
  color: var(--no-progress);
}

.disabled-link {
  color: rgb(141, 141, 141);
}

footer {
  position: absolute !important;
  margin: auto !important;
  bottom: 0 !important;
  left: 0 !important;
  width: 100% !important;
}
